body{
    font-family: 'Poppins', sans-serif;
}
/* Utilities */
.custom-navbar-toggler-icon{
    background-image: url(../images/icon/nav-toggler.svg);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.item-gap{
    margin-top: 8rem;
}

/* Carousel */
.slider-image{
    height: 600px;
    object-fit: cover;
}

/* Main Section */
.toast-custom-btn{
    position: relative;
    bottom: 12px;
    width: 3px;
}
.tost-gift-icon::before{
    content: "";
    display: block;
    background: url(../images/icon/gift.svg) no-repeat;
    width: 30px;
    height: 23px;
}
.toast-text{
    transition: .5s ease-in-out;
}
.toast-text:hover{
    font-size: 16px;
}
.col-custom{
    position: relative;
    top: 5.8rem;
}
.card-custom{
    border-radius: 35px;
    position: relative;
    right: 1rem;
    box-shadow: 0px 25px 34px rgba(63, 135, 245, 0.25);
}
.hot-badge{
    position: absolute;
    top: 0;
    left: 84%;
}
.card-title-custom{
    font-weight: 600;
}
.fa-check{
    font-size: 15px;
    width: 20px;
    height: 20px;
    background-color: rgba(82, 67, 194, 0.103693);
    color: #5243C2;
    border-radius: 10px;
    position: relative;
    bottom: 2px;
}
.fa-check:before{
    position: relative;
    top: 4px;
    left: 4px;
}
.icon-custom{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.144);
}
.btn-custom{
    background-color: #f496d22d;
    font-size: 15px;
    font-weight: 600;
}
.btn-hot{
    width: 77%;
}

/* Footer */
.footer-custom-section{
    height: 250px
}




/* Media Query For Mobile */
@media only screen and (max-width:688px){
    .col-custom{
        position: relative;
        top: 0;
    }
    .card-custom{
        position: relative;
        right: 0; 
    }
    .footer-custom-section img{
        max-width: 35%;
    }
}
@media only screen and (max-width:992px){
    .col-custom{
        position: relative;
        top: 0;
    }
    .card-custom{
        position: relative;
        right: 0; 
    }
    .copyright-text{
        text-align: center;
    }
}